.ipynb_checkpoints
__pycache__
*.pkl
flagged
/Supervised Learning - Classification - Project 3/X_train_original.csv
/Supervised Learning - Classification - Project 3/X_train_best.csv
/Supervised Learning - Classification - Project 3/X_test_original.csv
/Supervised Learning - Classification - Project 3/X_test_best.csv
